name: Python package

on:
  push:
    branches:
    - main
    - release**
    - test-nbs-test-workflow
  pull_request:
    branches:
    - main
    - release**
    - test-nbs-test-workflow

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests]
          if [ -f test_requirements.txt ]; then pip install -r test_requirements.txt; fi
  
      - uses: extractions/netrc@v1
        with:
          machine: urs.earthdata.nasa.gov
          username: ${{ secrets.EARTHDATA_USERNAME }}
          password: ${{ secrets.EARTHDATA_PASSWORD }}

      - name: Run notebook integration tests
        run: |
          pytest --nbmake nbs/*